.indexitem{ :id => "#{"even" if analytical_standard_counter.even?}"}
  %h1= "Standard for #{analytical_standard.analytical_method.name}"
  = analytical_standard.preparation_date.strftime("Prepared on %b %d, %Y")
