.indexitem{ :id => "#{"even" if maintenance_event_counter.even?}"}
  %h1= "Maintenance on #{Instrument.find(maintenance_event.instrument_id).name}"
  = maintenance_event.created_at.strftime("Performed on %b %d, %Y")