.grid_6
  %ul.nav.main
    - if anybody_signed_in?
      %li
        %a{ :href => "#" } Log stuff
        %ul
          %li
            %a{ :href => "#" } Log run
          %li
            %a{ :href => new_maintenance_event_path } Log maintenance
      %li
        %a{ :href => "#" } Add/edit stuff
        %ul
          %li
            %a{ :href => chromatographic_columns_path } Columns
          %li
            %a{ :href => instruments_path } Instruments
      %li
        %a{ :href => "#" } Reporter
        %ul
          %li
            %a{ :href => "#" } Column report
      %li.secondary
        %a{ :href => destroy_user_session_path } Sign out
.clear