.grid_6
  %ul.nav.main
    - if anybody_signed_in?
      %li
        %a{ :href => "#" } Log
        %ul
          %li
            %a{ :href => new_analytical_standard_path } Standard
          %li
            %a{ :href => intro_run_logs_path } Run
          %li
            %a{ :href => new_maintenance_event_path } Maintenance
      %li
        %a{ :href => "#" } View
        %ul
          %li
            %a{ :href => run_logs_path } Run Logs
          %li
            %a{ :href => maintenance_events_path } Maintenances
          %li
            %a{ :href => chromatographic_columns_path } Columns
          %li
            %a{ :href => instruments_path } Instruments
      %li
        %a{ :href => "#" } Add
        %ul
          %li
            %a{ :href => new_chromatographic_column_path } Columns
          %li
            %a{ :href => new_instrument_path } Instruments
      %li
        %a{ :href => "#" } Reporterator
        %ul
          %li
            %a{ :href => "#" } Coming soon!
      %li.secondary
        %a{ :href => destroy_user_session_path } Sign out
.clear